@charset "utf8";

@font-face {
    font-family: idroid;
    src: url('../fontes/idroid.otf');
}

@font-face {
    font-family: PTSansNarrow-Bold;
    src: url('../fontes/PTSansNarrow-Bold.ttf');
}

@font-face {
    font-family: PTSansNarrow-Regular;
    src: url('../fontes/PTSansNarrow-Regular.ttf');
}

body{
    margin: 0px;
    padding: 0px;
    font: 400 1em Arial, sans-serif;
    background-color: #9affab;
}

p {
    text-indent: 50px;
}

header {
    background-image: linear-gradient(#2dcf48, #095f3e);
    color: white;
    font: 400 1.2em PTSansNarrow-Regular, Arial, sans-serif;
    padding: 20px;
    box-shadow: 1px 1px 3px #0000006b;
}

header > section > h1 {
	font: bold 2em PTSansNarrow-Bold, Arial, sans-serif;
    text-shadow: 1px 1px 3px #0000006b;
    color: white;
}

header > section > p {
    text-shadow: 1px 1px 3px #0000006b;
}

h1, h2 {
	font: bold 2em idroid, Arial, sans-serif;
    color: #095f3e;
    font-size: 2em;
    text-transform: uppercase;
}

h2{
    font-size: 1.5em;
    background-image: linear-gradient(to right,#a7e4b1, #ffffff00);
}

nav > ul{
    display: inline;
    padding: 0px;
    color: #a7e4b1;
}

nav > ul > li{
    display: inline;
    padding: 10px;
}

nav > ul > li:hover{
    background-color: #08422c;
    transition: 0.3s;
    border-radius: 5px;
}

nav > ul > li:active{
    box-shadow: inherit 1px 1px 3px #0000006b; 
}

header > section {
    text-align: center;
}

section {
    padding: 20px;
}

main {
    background-color: white;
    margin: auto;
    width: 70vw;
    box-shadow: 1px 1px 4px #0000006b;
}

div#video {
    padding: 20px;
    background-color: #095f3e;
}

section#learnmore {
    padding: 0px;
    border-radius: 20px;
    background-color: #a7e4b1;
    margin: 30px;
}

section#learnmore > p{
    padding: 10px;
}

section#learnmore > h3 {
    border-radius: 20px 20px 0px 0px;
    background-color: #095f3e;
    padding: 10px;
    color: white;
    text-indent: 20px;
}

section#learnmore > ul{
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

section#learnmore > ul > li::before{
    content: '🤖 ';
}

span{
    text-decoration: underline;
}

img {
    position: block;
    margin: auto;
}

section#end {
    padding-top: 0px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #095f3e;
    color: white;
}

img, iframe{
    display: block;
    margin: auto;
}

@media screen and (max-width: 600px){
    
    nav {
        text-align: center;
    }

    section#learnmore > ul{
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

}