@charset "utf8";

@font-face {
    font-family: idroid;
    src: url('../fontes/idroid.otf');
}

@font-face {
    font-family: PTSansNarrow-Bold;
    src: url('../fontes/PTSansNarrow-Bold.ttf');
}

@font-face {
    font-family: PTSansNarrow-Regular;
    src: url('../fontes/PTSansNarrow-Regular.ttf');
}

:root {
    --background: #9affab;
    --highlight: #095f3e;
}

body{
    margin: 0px;
    padding: 0px;
    font: 400 1em Arial, sans-serif;
    background-color: var(--background);
}

strong {
    color: var(--highlight);
}

p#centered-p {
    text-indent: 0px;
    text-align: center;
}

p {
    text-indent: 50px;
    font-size: 18px;
    text-align: justify;
}

a {
    color: var(--highlight);
    font-weight: bold;
    text-decoration: none;
}

a.externo:hover {
    text-decoration: underline;
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(#2dcf48, var(--highlight));
    color: white;
    font: 400 1.2em PTSansNarrow-Regular, Arial, sans-serif;
    padding: 20px;
    box-shadow: 1px 1px 3px #0000006b;
}

header h1 {
	font: bold 2em PTSansNarrow-Bold, Arial, sans-serif;
    text-shadow: 1px 1px 3px #0000006b;
    color: white;
}

header p {
    text-shadow: 1px 1px 3px #0000006b;
}

h1, h2 {
	font: bold 2em idroid, Arial, sans-serif;
    color: var(--highlight);
    font-size: 2em;
    text-transform: uppercase;
}

h2{
    font-size: 1.5em;
    background-image: linear-gradient(to right,#a7e4b1, #ffffff00);
}

nav > ul{
    display: inline;
    padding: 0px;
    color: #a7e4b1;
}

nav li{
    display: inline;
    padding: 10px;
}

nav a{
    display: inline;
    padding: 10px;
    color: #a7e4b1;
}

nav li:hover{
    background-color: #08422c;
    transition: 0.3s;
    border-radius: 5px;
}

nav li:active{
    box-shadow: inherit 1px 1px 3px #0000006b; 
}

header > section {
    text-align: center;
}

section {
    padding: 20px 40px 20px 40px;
}

main {
    background-color: white;
    margin: auto;
    max-width: 1000px;
    box-shadow: 1px 1px 4px #0000006b;
}

div#video {
    padding: 20px;
    background-color: var(--highlight);
}

aside {
    padding: 0px;
    border-radius: 20px;
    background-color: #a7e4b1;
    margin: 30px;
}

aside > p{
    padding: 10px;
}

aside > h3 {
    border-radius: 20px 20px 0px 0px;
    background-color: var(--highlight);
    padding: 10px;
    color: white;
    text-indent: 20px;
}

aside > ul{
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

aside li::before{
    content: '🤖 ';
}

abbr{
    text-decoration: underline;
}

img {
    position: block;
    margin: auto;
}

section#end {
    padding-top: 0px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: var(--highlight);
    color: white;
}

footer > strong {
    color: white;
}

footer > strong > a{
    color: white;
}

img, iframe{
    display: block;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

div#video {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 90%;
}

@media screen and (max-width: 600px){

    nav {
        text-align: center;
    }
    
    aside > ul{
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

}